*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: #262626;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url(images/photo-1738168362059-44a0b8a80b39.avif);
}
.container{
    padding: 20px 10%;
}
nav{
    display: flex;
   text-align:  center;
   justify-content: center;
}